@import '_variables.scss';

.main {
  padding: $size-8 $size-10;

  hr {
    background-color: $color-orange-2;
    margin-top: $size-9;
    border: none;
    height: 2px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    padding: 1.813rem;
  }
}

.header__hr {
  background-color: $color-orange-2;
  height: 4px;
  border: none;
}
