@import '_variables';

.light_toggle,
.dark_toggle {
  margin-left: auto;
}

// Dark theme
.dark_theme {
  background-color: $color-black-2;

  h2,
  a,
  p,
  li::marker,
  h3,
  * {
    color: $color-white;
  }
}
