@import '../_variables.scss';

.article_list {
  margin: 0 $size-5;

  li {
    padding-left: $size-2;
    margin-bottom: $size-5;

    .article_list__card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: $size-3;
    }

    .article_list__paragraph {
      margin-top: $size-2;
      display: flex;
      align-self: center;

      .article_list__paragraph__star {
        display: flex;
        align-items: center;

        .article_list__paragraph__star__image {
          margin-right: $size-1/2;
        }
      }
    }
  }
}
