@import '../_variables.scss';

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-3;
  margin-top: $size-5;


  .footer_header{
    font-weight: 700;
  }

  .footer_links{
    a{
      margin: 0 2px;
    }
  }
}