.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 49px;
  min-height: 100vh;
  list-style-position: inside;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-left: 36px;
  align-items: center;
}

.card {
  justify-content: space-between;
}

/* Spacing for the tabs
  Highlight page name that we are currently on
  spacing to the top of the list
  the one on the same line as the title
  font size for title
  font size for the url
  font size for the subtitle
  create star when highlight
  create star when empty
  add save/saved
*/
